<% if notice %>
    <div class="alert alert-info">
      <strong>Well done!</strong> <%= notice %>
    </div>
<% end %>
<% if alert %>
    <div class="alert alert-warning">
      <strong>Warning!</strong><%= alert %>
    </div>
<% end %>
